<div class="row justify-content-between">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <img src="../../assets/logo.png" class="img-fluid" alt="Online Shop" />
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <form [formGroup]="this.searchForm" class="">
      <div class="d-flex">
            <input formControlName="Svalue" class="form-control m-2" type="text" id="header-search" placeholder="Search" name="s" />
            <button type="submit" (click)="searching()" class=" btn btn-primary m-2">Search</button>
      </div>
 
    </form>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-primary  justify-content-start">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <div class=" text-light font-weight-bold mx-3">
            About Us
          </div>
        </li>
        <li class="nav-item">
          <div class=" text-light font-weight-bold mx-3">
            Contact Us
          </div>
        </li>
        <li class="nav-item">
          <div class=" text-light font-weight-bold mx-3">
            Product List
          </div>
        </li>
      </ul>
    </div>

</nav>
<div class="row   mb-5">
 

</div>

<div *ngIf="this.alertFailure" class="mx-auto alert alert-warning alert-dismissible fade show"
  style="z-index:1;position: fixed;bottom:0;right:0;" role="alert">
  <strong> {{this.strongMsg}} &nbsp;</strong>{{this.lightMsg}} &nbsp;
  <button class="close btn btn-outline-danger btn-sm" data-dismiss="alert">&nbsp;X&nbsp;
  </button>
</div>
<div *ngIf="this.alertSuccess" class="mx-auto alert alert-success alert-dismissible fade show"
  style="z-index:1;position: fixed;bottom:0;right:0;" role="alert">
  <strong> {{this.strongMsg}} &nbsp;</strong>{{this.lightMsg}} &nbsp;
  <button class="close btn btn-outline-success btn-sm" data-dismiss="alert">&nbsp;X&nbsp;
  </button>
</div>